/*GENERALES*/
*{
    padding: 0px;
    margin: 0px;
}

body{
    background: url(../img/bg.png);
}

a{
    color: #01B1EA;
}
a:vidited{
    color: #01B1EA;
}

a:hover{
    color: #555555;
}

/*CONTAINER*/

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}

/*HEADER*/

#header{
    height: 145px;
    background: #F0F0F0;
}

#logo{
    float: left;
    padding: 20px;
    margin-left: 20px;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 35px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 29px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}

/*MENU*/

.product img{
    width: 100px;
}