/*FUENTES*/
@font-face{
    font-family: 'fajala';
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'sans-serif, Helvetica, Arial';
    text-decoration: none;
}

.clearfix{
    clear: both;
    float: none;
}

body{
    background: url(../img/cubes.png) #F4F4F4;
}

/*CABECERA*/
#cabecera{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto;
    border: 1px solid black;
}

#logo{
    float: left;
    width: 540px;
    height: 140px;
}

#logo a{
    font-family: 'fajala', Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color: #2979CD;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
    transition: all 50ms;
}

#logo a:hover{
    cursor: pointer;
    text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;

}