/*FUENTES*/
@font-face{
    font-family: 'fajala';
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*GENERALES*/
*{
    margin: 0%;
    padding: 0px;
    font-family: 'sans-serif, Helvetica, Arial';
    text-decoration: none;
}

.clearfix{
    clear: both;
    float: none;
}

body{
    background: url(../img/cubes.png) #F4F4F4;
}